.content-body {
  margin: 3rem 0;
}

.section-heading {
  gap: 3rem;
}

.warning {
  font-size: 2.5rem;
  margin: 3rem 0 5rem 0;
  padding: 0 2rem;
}

.status-message {
  background-color: var(--color-tertiary-light);
  color: var(--color-primary);
  padding: 0.7rem 2rem;
  border-radius: 5rem;
  width: fit-content;
}

.info-section {
  gap: 3rem;
  width: 100%;
  align-items: start;
}

.info-section article {
  width: 50%;
}

.heading {
  margin-bottom: 1rem;
}

.order-summary,
.courier-info,
.tracking-events,
.ordered-products {
  padding: 2rem 3.5rem;
  border-radius: 2rem;
  border: 0.2rem solid var(--color-secondary-light);
}

.order-summary p,
.courier-info p {
  font-size: 2.1rem;
}

.shipment-tracker-link {
  gap: 0.5rem;
}

.shipment-tracker-link i {
  font-size: 1.8rem;
}

.product-item {
  text-align: center;
  width: 17rem;
}

.product-item p {
  line-break: loose;
}

.product-image-box {
  border-radius: 2rem;
  width: 17rem;
  height: 17rem;
  overflow: hidden;
  position: relative;
}

.product-image-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-image-box .quantity-badge {
  position: absolute;
  bottom: 0.3rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--color-dark);
  padding: 0.3rem 2rem;
  border-radius: 1.5rem;
  color: var(--color-primary);
}

.tracking-events .tracking-list {
  list-style: none;
}

.tracking-events .tracking-row {
  gap: 3rem;
  position: relative;
}

.tracking-events .tracking-row::before {
  position: absolute;
  content: "";
  width: 0.2rem;
  height: 100%;
  background-color: var(--color-secondary);
  left: 0.9rem;
}

.tracking-events .tracking-row:first-of-type::before {
  height: 50%;
  top: 50%;
}

.tracking-events .tracking-row:last-of-type::before {
  height: 50%;
  bottom: 50%;
}

.tracking-events .tracking-row:only-of-type::before {
  content: none;
}

.tracking-events .tracking-row .tracking-text {
  padding: 0.8rem 2.8rem;
  width: fit-content;
}

.tracking-events .tracking-row:last-of-type .tracking-text {
  background-color: var(--color-secondary-light);
  border-radius: 5rem;
}

.tracking-events .tracking-row .tracking-dot {
  position: relative;
  width: 2rem;
  height: 2rem;
}

.tracking-events .tracking-row .tracking-dot::before {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 0.3rem solid var(--color-secondary);
  box-shadow: inset 0 0 0 0.3rem var(--color-primary);
  background-color: var(--color-secondary);
}

.background-icon {
  top: 25rem;
  opacity: 0.25;
  filter: blur(0.5rem);
}

@media (max-width: 600px) {
  .section-heading,
  .info-section {
    flex-direction: column;
  }

  .info-section article {
    width: 100%;
  }
}
