.page-wrapper {
  padding-left: 30rem;
  justify-content: flex-start;
}

.content-body {
  width: 95%;
  gap: 2.5rem;
}

.profile-nav,
.inner-nav {
  height: 100%;
  position: fixed;
  left: 0;
  top: 10rem;
  border-right: 0.15rem solid var(--color-secondary);
  font-size: 1.8rem;
  padding: 2rem 0;
  background-color: var(--color-secondary-lighter);
  box-shadow: 0 0 1rem var(--color-secondary);
  width: 27rem;
  z-index: 50;
}

.profile-nav .profile-nav-elements {
  padding: 0;
  gap: 0;
  margin: 0;
}

.profile-nav .profile-nav-elements .side-nav-element .link {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 1rem 3rem 1rem 2rem;
}

.profile-nav .side-nav-element:hover {
  background-color: var(--color-secondary-light);
  color: var(--color-secondary);
  cursor: pointer;
}

.profile-nav .side-nav-element.current {
  background-color: var(--color-secondary);
  color: var(--color-primary);
}

.profile-nav .side-nav-element.current .link {
  color: var(--color-primary);
}

.inner-nav {
  left: 27rem;
  background-color: var(--color-primary);
  color: var(--color-secondary);
  box-shadow: 1rem 0 2rem -0.9rem var(--color-secondary);
  gap: 0;
}

.profile-nav .inner-nav .inner-nav-element .link {
  color: var(--color-secondary);
}

.side-nav-element .inner-nav,
.side-nav-element .nav-arrow {
  visibility: hidden;
  opacity: 0;
}

.side-nav-element:hover .inner-nav,
.side-nav-element:hover .nav-arrow {
  visibility: visible;
  opacity: 1;
}

.nav-arrow {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 2.5rem 3rem 2.5rem;
  border-color: transparent transparent var(--color-primary) transparent;
  transform: rotate(-90deg) translateY(1.5rem);
  transition: all 150ms linear;
}

.inner-nav .inner-nav-element:hover,
.inner-nav .inner-nav-element.current {
  background-color: var(--color-secondary-light);
  cursor: pointer;
}

.page-content {
  font-size: 2rem;
  margin-top: 5rem;
  width: 80%;
  margin-left: 15%;
  margin-right: 5%;
}

.page-content .warning {
  color: var(--color-error);
  gap: 0;
}

.page-content .warning-uppercase {
  text-transform: uppercase;
  text-decoration: underline double;
  font-weight: 800;
  font-size: 2.2rem;
}

.action-buttons .btn:hover {
  transform: scale(1.05);
}

.background-icon {
  position: absolute;
  top: 20rem;
  right: 10rem;
  opacity: 0.45;
  z-index: -1;
  font-size: 60rem;
  color: var(--color-secondary-light);
}

.page-content .btn:hover {
  transform: scale(1.03);
  background-color: var(--color-tertiary-lighter);
  color: var(--color-black);
}

.title-small {
  font-size: 3rem;
  letter-spacing: 0.2rem;
}

@media (max-width: 600px) {
  html {
    padding-top: 32rem;
    font-size: 7px;
  }

  .page-wrapper {
    padding: 5rem;
  }

  .page-content {
    width: 100%;
    margin-left: 0;
  }

  .content-body {
    width: 100%;
    gap: 2rem;
  }

  .profile-nav {
    height: auto;
    position: fixed;
    width: 100%;
    transition: height 500ms linear;
  }

  .inner-nav {
    width: 100%;
    height: 0;
    position: static;
    padding: 0;
    transition: all 200ms linear;
  }

  .side-nav-element:hover .inner-nav {
    height: auto;
    padding: 2rem 0;
  }

  .nav-arrow {
    transform: rotate(0deg) translateY(0.8rem);
    margin-right: 2rem;
  }

  .input-form {
    width: 100%;
  }

  .input-form .form-input.short {
    max-width: 80%;
  }

  .background-icon {
    position: absolute;
    top: 45rem;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media (max-width: 450px) {
  html {
    font-size: 6px;
  }
}

@media (max-width: 350px) {
  html {
    font-size: 5px;
  }
}
