@using MHAuthorWebsite.Web.ViewModels.ProductType;
@model AddProductTypeForm

@{
	var enumOptionsHtml = string.Join("", 
		((IEnumerable<SelectListItem>)ViewBag.AttributeDataTypes).Select(t =>
			$"<option value='{t.Value}'>{t.Text}</option>")
		);
}

<h1>Добави категория</h1>

<form method="POST" asp-controller="ProductType" asp-action="AddProductType" id="addProductTypeForm">
	<label asp-for="Name">Име:</label><br>
	<input asp-for="Name" class="form-control" /><br>
	<span asp-validation-for="Name" class="text-danger"></span>

	<label asp-for="HasAdditionalProperties">Допълнителни данни?</label><br>
	<input asp-for="HasAdditionalProperties" type="checkbox" class="form-check-input" id="HasAdditionalProperties"/>
	<span asp-validation-for="HasAdditionalProperties" class="text-danger"></span>

	<div id="attributeSection" style="display:none">
		<div id="attributeTemplates" data-attribute-index="@Model.Attributes.Count" data-enum-options="@Html.Raw(enumOptionsHtml)">
			@for (int i = 0; i < Model.Attributes.Count; i++)
			{
				<div class="attribute-definition mb-3">
					<button type="button" class="btn-close remove-attribute" aria-label="Close"></button>

					@{
						int i1 = i;
					}

					<label asp-for="Attributes.ElementAt(i1).Key">Ключ:</label>
					<input asp-for="Attributes.ElementAt(i1).Key" class="form-control" />
					<span asp-validation-for="Attributes.ElementAt(i1).Key" class="text-danger"></span>

					<label asp-for="Attributes.ElementAt(i1).Label">Етикет:</label>
					<input asp-for="Attributes.ElementAt(i1).Label" class="form-control" />
					<span asp-validation-for="Attributes.ElementAt(i1).Label" class="text-danger"></span>

					<label asp-for="Attributes.ElementAt(i1).DataType">Тип:</label>
					<select asp-for="Attributes.ElementAt(i1).DataType" name="Attributes[${index}].DataType" class="form-control">
						@foreach (var type in (IEnumerable<SelectListItem>)ViewBag.AttributeDataTypes)
						{
							<option value="@type.Value">@type.Text</option>
						}
					</select>
					<span asp-validation-for="Attributes.ElementAt(i1).DataType" class="text-danger"></span>

					<label>Предефинирани стойности?</label>
					<input type="checkbox" name="Attributes[@i].HasPredefinedValue"/>

					<label>Задължително?</label>
					<input type="checkbox" name="Attributes[@i].IsRequired"/>
				</div>
			}
		</div>

		<button type="button" class="btn btn-secondary" id="addAttribute">Добави още</button>
	</div>

	<br>
	<button class="btn btn-primary" type="submit">Запази</button>
</form>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
	<script src="~/js/AddProductTypeForm.js"></script>
}
