@using MHAuthorWebsite.Web.ViewModels.ProductType
@model AddProductTypeForm

<h1>Добави категория</h1>

<form method="POST" asp-controller="ProductType" asp-action="AddProductType" id="AddProductTypeForm">
	<label asp-for="Name">Име:</label><br>
	<input asp-for="Name" class="form-control" /><br>
	<span asp-validation-for="Name" class="text-danger"></span>

	<label asp-for="HasAdditionalProperties">Допълнителни данни?</label><br>
	<input asp-for="HasAdditionalProperties" type="checkbox" class="form-check-input" id="HasAdditionalProperties"/>
	<span asp-validation-for="HasAdditionalProperties" class="text-danger"></span>

	<div id="attributeSection" style="display:none">
		<div id="attributeTemplates" data-attribute-index="@Model.Attributes.Count">
			@for (int i = 0; i < Model.Attributes.Count; i++)
			{
				var i1 = i;
				@Html.EditorFor(x => x.Attributes[i1], "AttributeDefinitionForm")
			}
		</div>

		<button type="button" class="btn btn-secondary" id="addAttribute">Добави още</button>
	</div>

	<br>
	<button class="btn btn-primary" type="submit">Запази</button>
</form>

<div id="attribute-template" class="d-none">
	@Html.Editor("Attributes[__INDEX__]", "AttributeDefinitionForm", new { })
</div>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
	<script src="~/js/addProductTypeForm.js"></script>
}
