.all-products {
  gap: 7rem;
  width: 90%;
  justify-content: center;
  align-items: start;
  padding: 3rem 5rem;
}

.products-sections {
  gap: 3rem;
}

.products-section {
  gap: 1rem;
}

.cart-table {
  width: 100%;
  border: 0.15rem solid var(--color-secondary);
  border-radius: 1.5rem;
  margin-bottom: 1.5rem;
  overflow: hidden;
  font-size: 1.8rem;
  border-spacing: 0;
}

.cart-table th,
.cart-table td {
  padding: 1.4rem 2.5rem;
  text-align: left;
}

.cart-table th {
  border-bottom: 0.1rem solid var(--color-secondary);
}

.cart-table td:not(:nth-last-child) {
  border-bottom: 0.1rem solid var(--color-secondary);
}

.product-info {
  gap: 1.7rem;
  align-items: center;
}

.product-info-general {
  gap: 0.1rem;
}

.product-info-general h4 {
  font-size: 1.9rem;
}

.product-info-general span strong {
  font-weight: 600;
  font-size: 1.6;
}

.product-image-container {
  justify-content: center;
  align-items: center;
  width: 10rem;
  height: 10rem;
}

.product-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  border-radius: 1rem;
}

.cart-warning {
  background-color: var(--color-secondary-light);
  border: 1px solid var(--color-secondary);
  border-radius: 1.5rem;
  padding: 1rem 2rem;
  margin-bottom: 1rem;
  justify-content: space-between;
}

.cart-summary {
  border: 1px solid var(--color-secondary);
  border-radius: 2rem;
  padding: 3rem;
  position: sticky;
  font-size: 1.8rem;
}

.btn-order {
  font-size: 1.7rem;
  font-weight: 600;
  border-radius: 1.5rem;
  padding: 1rem 1.5rem;
  justify-content: center;
}

.btn-order i {
  font-size: 1.9rem;
}
