@import url("https://fonts.googleapis.com/css2?family=Sofia+Sans+Condensed:ital,wght@0,1..1000;1,1..1000&display=swap");

:root {
  --font-primary: "Sofia Sans Condensed";
  --color-dark: rgba(24, 23, 23, 0.879);
  --color-grey: rgba(97, 97, 97, 0.923);
  --color-primary: #fcfcfc;
  --color-secondary: rgb(58, 5, 58);
  --color-secondary-light: rgb(248, 223, 248);
  --color-secondary-lighter: rgb(251, 243, 251);
  --color-secondary-lighter-transparent: rgba(255, 241, 255, 0.693);
  --color-tertiary: rgb(35, 22, 215);
  --color-tertiary-light: rgb(60, 151, 226);
  --color-tertiary-lighter: rgb(130, 250, 248);
  --color-error: rgb(255, 73, 73);
  --color-success: rgb(56, 210, 56);
  --color-orange: rgb(255, 191, 0);
}

* {
  transition: all linear 300ms;
}

html {
  font-family: var(--font-primary), sans-serif;
  font-size: 10px;
  min-height: 100vh;
  padding-top: 10rem;
  width: 100vw;
  overflow-x: hidden;
}

body {
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 10rem);
}

body.animate {
  animation: fadeIn 300ms ease-in-out;
}

.page-wrapper {
  width: 100vw;
  align-items: center;
  padding: 3rem 5rem;
  font-size: 1.6rem;
  min-height: calc(100vh - 17rem);
}

.link {
  text-decoration: none;
  color: var(--color-secondary);
}

.link.active,
nav.active,
a.active,
button.active {
  position: relative;
  padding: 0;
}

.link.active::before,
nav.active::before,
a.active::before,
button.active::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 0;
  bottom: 0;
  left: 0;
  margin-top: 0.1rem;
  border: 0.15rem solid var(--color-secondary);
  border-radius: 1rem;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}

.link.active:hover::before,
nav.active:hover::before,
a.active:hover::before,
button.active:hover::before {
  visibility: visible;
  transform: scaleX(1);
}

.link.italic,
button.italic {
  font-style: italic;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.flex-row.center {
  justify-content: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.flex-column.center {
  align-items: center;
}

.btn {
  cursor: pointer;
  border: 0.16rem solid var(--color-secondary);
  background-color: var(--color-secondary-light);
  border-radius: 0.6rem;
  padding: 0.5rem 1rem;
}

.btn.order:not(:disabled):hover {
  background-color: var(--color-tertiary-light);
  color: var(--color-primary);
  border-color: var(--color-dark);
}

button.btn.remove:hover {
  transform: scale(1.1);
  color: var(--color-secondary);
}

.btn-none {
  background-color: transparent;
  border: none;
}

img.icon {
  width: 4rem;
  height: 4rem;
}

img.icon.small {
  width: 2.8rem;
  height: 2.8rem;
}

.title {
  font-size: 4.5rem;
  letter-spacing: 0.07rem;
  color: var(--color-secondary);
}

.title-small {
  font-size: 2.8rem;
  letter-spacing: 0.07rem;
  color: var(--color-secondary);
}

.subtitle {
  font-size: 3rem;
  letter-spacing: 0.07rem;
  color: var(--color-secondary-light);
}

.heading {
  font-size: 2.8rem;
}

.subheading {
  font-size: 2.3rem;
  margin: 0;
}

.text-error {
  color: var(--color-error);
}

.input {
  border: 0.1rem solid var(--color-secondary);
  border-radius: 1.5rem;
  padding-left: 1.2rem;
  padding-right: 0.5rem;
  margin: 1rem;
}

hr {
  border: 0.15rem solid var(--color-secondary-light);
  border-radius: 1rem;
  height: 0;
  width: 100%;
}

.clickable:hover {
  cursor: pointer;
}

.text-faded {
  opacity: 0.75;
}

.btn.like {
  font-size: 1.25rem;
}

/* When not liked*/

.btn.like .fa-regular.fa-heart {
  color: var(--color-secondary);
  visibility: visible;
}

.btn.like .fa-solid.fa-heart {
  color: transparent;
  visibility: hidden;
}

.btn.like:hover .fa-regular.fa-heart {
  color: transparent;
  visibility: hidden;
}

.btn.like:hover .fa-solid.fa-heart {
  color: var(--color-secondary);
  visibility: visible;
}

/* When liked*/

.btn.like.liked .fa-regular.fa-heart {
  color: transparent;
  visibility: hidden;
}

.btn.like.liked .fa-solid.fa-heart {
  color: var(--color-secondary);
  visibility: visible;
}

.btn.like.liked:hover .fa-regular.fa-heart {
  color: var(--color-secondary);
  visibility: visible;
}

.btn.like.liked:hover .fa-solid.fa-heart {
  color: transparent;
  visibility: hidden;
}

.hidden {
  display: none;
  visibility: hidden;
  opacity: 0;
  transform: scale(0);
}

/* --- Keyframes --- */

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

/* --- Responsive --- */
@media (min-width: 2800px) {
  html {
    font-size: 13px;
  }
}

@media (max-width: 1920px) {
  html {
    font-size: 9px;
  }
}

@media (max-width: 1450px) {
  html {
    font-size: 8px;
  }
}

@media (max-width: 1250px) {
  html {
    font-size: 7px;
  }
}

@media (max-width: 1250px) {
  html {
    font-size: 6px;
  }
}

@media (max-width: 900px) {
  html {
    font-size: 5px;
  }
}

@media (max-width: 700px) {
  html {
    font-size: 4px;
  }
}

@media (max-width: 600px) {
  html {
    font-size: 6px;
  }

  .page-wrapper {
    padding: 5rem 4rem;
  }

  .title {
    font-size: 5rem;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 5px;
  }
}

@media (max-width: 350px) {
  html {
    font-size: 4.5px;
  }
}
