@import url("https://fonts.googleapis.com/css2?family=Sofia+Sans+Condensed:ital,wght@0,1..1000;1,1..1000&display=swap");

:root {
  --font-primary: "Sofia Sans Condensed";
  --color-dark: rgba(24, 23, 23, 0.879);
  --color-grey: rgba(97, 97, 97, 0.923);
  --color-primary: #fcfcfc;
  --color-secondary: rgb(66, 12, 66);
  --color-secondary-ligth: rgb(251, 229, 251);
  --color-error: rgb(255, 73, 73);
  --color-success: rgb(56, 210, 56);
}

* {
  transition: all linear 300ms;
}

html {
  font-family: var(--font-primary), sans-serif;
  font-size: 10px;
  min-height: 100vh;
  padding: 10rem 0 7rem 0;
}

body {
  display: flex;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.btn {
  cursor: pointer;
}

.btn-none {
  background-color: transparent;
  border: none;
}

.title {
  font-size: 4.5rem;
  letter-spacing: 0.07rem;
  color: var(--color-secondary);
}

.title-small {
  font-size: 2.8rem;
  letter-spacing: 0.07rem;
  color: var(--color-secondary);
}

.text-error {
  color: var(--color-error);
}
