.splash {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
  padding: 80px 20px;
  box-sizing: border-box;
  animation: fadeIn 1s ease-in-out;
}

.splash h2 {
  font-size: 3em;
  margin: 20px 0;
}
