/* ----- Splash ----- */
.splash {
  align-items: center;
  width: 100vw;
  min-height: calc(100vh - 10rem);
  color: #fff;
  text-align: center;
  padding: 10rem 4rem;
  background-image: url(../img/splash.webp);
  background-repeat: no-repeat;
  background-size: cover;
}

.splash-text {
  position: absolute;
  top: 51vh;
  left: 68vw;
  transform: translate(-50%, -50%);
  width: max-content;
  animation: splash-text ease-in-out 1s;
  animation-fill-mode: forwards;
}

.splash-text .title {
  letter-spacing: 0.3rem;
  font-size: 7rem;
  text-shadow: 0.1rem 0.2rem 0.5rem var(--color-secondary-lighter);
  animation: splash-text-title linear 3s;
  animation-fill-mode: forwards;
}

.splash-text .subtitle {
  font-size: 3.8rem;
  letter-spacing: 0.4rem;
  position: relative;
}

.splash-text .subtitle::before {
  content: "";
  position: absolute;
  top: -0.35rem;
  left: 15%;
  width: 70%;
  height: 0.35rem;
  background-color: var(--color-secondary-light);
  border-radius: 2rem;
}

.section {
  padding: 10rem 5rem;
}

/* ----- About ----- */
.about {
  min-height: 100vh;
  font-size: 2rem;
  position: relative;
  justify-content: center;
}

.about::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 38%;
  height: 100%;
  background-color: var(--color-secondary);
}

.about-content {
  position: relative;
  z-index: 10;
  justify-content: start;
  gap: 8rem;
  margin-left: 22%;
}

.about-content.animate-on-scroll .about-text {
  opacity: 0.3;
  transform: translateX(100vw);
}

.about-content.animate-on-scroll.animate .about-text {
  opacity: 1;
  transform: translateX(0);
}

.about-image-wrapper {
  background-color: var(--color-primary);
  width: 38%;
  padding: 0.8rem;
  border-radius: 2rem;
}

.about-image-wrapper img {
  object-fit: contain;
  height: 100%;
  width: 100%;
  border-radius: 1.5rem;
}

.about-text {
  width: 35%;
  text-align: justify;
  text-indent: 2rem;
}

.about-text .name {
  font-size: 4rem;
}

/* ----- Quotes ----- */
.quotes {
  font-size: 2.8rem;
  position: relative;
  padding: 20rem 35rem;
  gap: 25rem;
  background-color: var(--color-secondary);
}

.quotes .quote {
  position: relative;
  width: 45vw;
  line-break: loose;
  align-items: center;
  gap: 3.5rem;
  text-align: center;
  font-style: italic;
  color: var(--color-primary);
  padding: 3rem 10rem;
}

.quotes .quote.animate-on-scroll .line {
  width: 0;
}

.quotes .quote.animate-on-scroll.animate .line {
  width: 30%;
}

.quotes .quote .line {
  width: 30%;
  height: 0;
  border: 0.2rem solid var(--color-secondary-lighter);
  border-radius: 2rem;
}

.quotes .quote .quote-text {
  text-shadow: 0.15rem 0.15rem 1rem var(--color-secondary-lighter);
  letter-spacing: 0.25rem;
}

.quote-left {
  align-self: flex-start;
}

.quote-right {
  align-self: flex-end;
}

.quote-icon {
  position: absolute;
  font-size: 25rem;
  opacity: 0.2;
  left: 0;
  top: -50%;
}

/* ----- Cites ----- */
.cites {
  align-items: center;
}

.cites .cite {
  font-size: 2.2rem;
  background-color: var(--color-secondary-light);
  border-radius: 2.5rem;
  padding: 4rem 5rem;
  align-items: flex-start;
}

.cites .cite .cite-text {
  font-size: 2.5rem;
  text-align: justify;
  text-indent: 2rem;
}

.author-box {
  gap: 2rem;
  letter-spacing: 0.15rem;
  margin-top: 2rem;
}

.author-image-box {
  border-radius: 50%;
  overflow: hidden;
  height: 8rem;
  width: 8rem;
}

.slider {
  width: 60%;
  gap: 5rem;
}

@keyframes splash-text {
  0% {
    opacity: 0;
    transform: translate(-50%, -80%);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}

@keyframes splash-text-title {
  30% {
    text-shadow: 0.1rem 0.2rem 0.5rem var(--color-secondary-lighter);
  }
  35% {
    text-shadow: 0.2rem 0.4rem 1rem var(--color-secondary-lighter);
  }
  90% {
    text-shadow: 0.2rem 0.4rem 1rem var(--color-secondary-lighter);
  }
  100% {
    text-shadow: 0.1rem 0.2rem 0.5rem var(--color-secondary-lighter);
  }
}

/* --- Responsive --- */
@media (max-width: 1200px) {
  .splash {
    background-position: 30%;
  }

  .splash-text {
    left: 72vw;
  }
}

@media (max-width: 920px) {
  .splash-text {
    left: 50vw;
    top: 85vh;
  }

  .splash-text .title {
    font-size: 8rem;
    text-shadow: 0.2rem 0.4rem 0.7rem var(--color-secondary-lighter);
  }

  .about::after {
    width: 40%;
  }

  .about-image-wrapper {
    width: 40%;
  }

  .quotes {
    padding: 30rem 15rem;
  }

  .quotes .quote {
    width: 55vw;
  }

  .slider {
    width: 80%;
  }
}

@media (max-width: 800px) {
  .splash {
    background-position: 40%;
  }

  .about::after {
    width: 100%;
    height: 35%;
  }

  .about-content {
    flex-direction: column;
    margin: 0;
    margin-bottom: 10rem;
  }

  .about-image-wrapper {
    width: 80%;
  }

  .about-text {
    width: 80%;
    font-size: 2.5rem;
  }
}

@media (max-width: 600px) {
  .splash {
    background-position: 20%;
  }

  .splash-text .title {
    font-size: 6.2rem;
  }

  .quotes .quote {
    align-self: center;
    width: 85vw;
    font-size: 3rem;
  }

  .slider {
    width: 100%;
    gap: 3rem;
  }
}

@media (max-width: 500px) {
  .splash {
    background-position: 30%;
  }
}
