.page-wrapper {
  justify-content: center;
}

.modal-invisible,
.modal {
  padding: 5rem 6rem;
  width: 35%;
  max-width: 50%;
  text-align: center;
}

.modal {
  border: 0.2rem solid var(--color-secondary);
  border-radius: 2rem;
  box-shadow: 0.4rem 0.4rem 0.7rem var(--color-grey);
}

.modal.large,
.modal-invisible.large {
  width: 50%;
}

.input-form {
  font-size: 1.9rem;
  width: 95%;
}

.input-form .form-input {
  border-radius: 1.5rem;
  padding: 0.5rem 1.5rem;
  border: 0.15rem solid var(--color-secondary);
  background-color: var(--color-primary);
  width: 100%;
}

.input-form textarea.form-input {
  animation: width, height linear 0s;
  max-width: 100%;
  min-width: 100%;
}

.input-form .form-input:focus {
  background-color: var(--color-secondary-light);
}

.input-form .form-label {
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 0.15rem;
}

.input-form .form-input-box,
.input-form .form-box {
  margin-top: 1rem;
  width: 100%;
  position: relative;
}

.input-form .form-input-box {
  align-items: flex-start;
}

.input-form .form-input-box.isolate,
.input-form .form-box.isolate {
  border: 0.15rem solid var(--color-secondary);
  border-radius: 1.5rem;
  padding: 3rem 2rem;
  margin: 2rem 1rem;
}

.input-form .form-input-box.select-list,
.input-form .form-input-box.boolean {
  flex-direction: row;
  gap: 1.5rem;
  justify-content: start;
  align-items: center;
}

.input-form .form-input-box.select-list select {
  width: 30%;
  border-radius: 1.5rem;
  padding: 0.5rem 1.2rem;
  border: 0.15rem solid var(--color-secondary);
}

.input-form .form-input-box.select-list select > option {
  padding: 0.5rem 1.2rem;
  border-bottom: 0.15rem solid var(--color-secondary);
}

.input-form .form-input-box.select-list select > option:first-of-type {
  border-radius: 1.5rem 1.5rem 0 0;
}

.input-form .form-input-box.select-list select > option:last-of-type {
  border-radius: 0 0 1.5rem 1.5rem;
}

.input-form .form-input-box.boolean input {
  transform: scale(1.3);
}

.input-form .input-error {
  color: var(--color-error);
}

.submit-btn {
  border-radius: 1.5rem;
  padding: 0.6rem 1.5rem;
  font-size: 2.1rem;
  margin-top: 1.5rem;
  width: max-content;
  align-self: center;
}

.submit-btn:hover {
  transform: scale(1.05);
}

.actions {
  text-align: center;
  gap: 1.2rem;
}

.button-remove {
  position: absolute;
  top: 2%;
  right: 1%;
  color: var(--color-secondary);
  cursor: pointer;
  transform: scale(1);
  z-index: 5;
}

.button-remove:hover {
  transform: scale(1.2);
}

#counter {
  width: 98%;
  text-align: end;
}

/* Editor styles */
.ql-toolbar.ql-snow,
.ql-toolbar.ql-snow + .ql-container.ql-snow {
  border-radius: 1.5rem;
  padding: 0.5rem 1.5rem;
  border: 0.15rem solid var(--color-secondary);
  background-color: var(--color-primary);
}

/* --- Responsive --- */
@media (max-width: 800px) {
  html {
    font-size: 6px;
  }

  .modal-invisible,
  .modal {
    width: 50%;
    max-width: 60%;
  }
}

@media (max-width: 600px) {
  html {
    font-size: 7px;
  }

  .modal-invisible,
  .modal {
    width: 70%;
    max-width: 80%;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 6px;
  }

  .modal-invisible,
  .modal {
    width: 80%;
    max-width: 85%;
  }
}

@media (max-width: 350px) {
  html {
    font-size: 5px;
  }

  .modal-invisible,
  .modal {
    width: 90%;
    max-width: 95%;
  }
}

/* --- */

@media (min-height: 800px) and (min-width: 800px) and (max-width: 1400px) {
  html {
    font-size: 7px;
  }

  .modal-invisible,
  .modal {
    width: 45%;
    max-width: 55%;
  }
}

@media (min-height: 1400px) and (min-width: 800px) and (max-width: 1200px) {
  html {
    font-size: 9px;
  }

  .modal-invisible,
  .modal {
    width: 55%;
    max-width: 60%;
  }
}
