/* --- Header --- */
header {
  font-size: 2.2rem;
  position: fixed;
  width: 100vw;
  top: 0;
  z-index: 1000;
  transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  box-shadow: 0.5rem 0.5rem 1rem var(--color-grey);
  padding: 1rem 3rem;
  background-color: var(--color-primary);
  color: var(--color-dark);
  height: 10rem;
}

header nav {
  justify-content: space-between;
}

header ul {
  list-style-type: none;
}

nav a {
  text-decoration: none;
  color: var(--color-dark);
  margin-right: 1.5rem;
  position: relative;
  transition: color 0.3s ease-in-out;
}

nav a:hover {
  color: var(--color-secondary);
}

/* --- Footer --- */
footer {
  font-size: 2.2rem;
  width: 100vw;
  transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  padding: 2rem 15rem 2rem 12rem;
  color: var(--color-primary);
  background-color: var(--color-secondary);
  box-shadow: 0 0 2rem var(--color-grey);
  height: 7rem;
  margin-top: auto;
  justify-content: space-between;
}

footer .social-media {
  gap: 2rem;
  list-style-type: none;
}

footer .social-media li a {
  color: var(--color-secondary-light);
}

footer .social-media li.left {
  transform: translateX(-1rem);
}

footer .social-media li.right {
  transform: translateX(1rem);
}

footer .social-media li:hover {
  transform: scale(1.4);
}
