.liked-products {
  align-items: center;
  width: 70%;
  margin-top: 3rem;
  padding: 3rem 4rem;
  border: 0.15rem solid var(--color-secondary);
  border-radius: 1.5rem;
}

.liked-products .product-card {
  width: 100%;
  justify-content: space-between;
  position: relative;
  border-radius: 1.5rem;
  padding: 2rem 3rem;
}

.liked-products .product-card:hover {
  background-color: var(--color-secondary-light);
}

.liked-products hr:last-of-type {
  display: none;
}

.product-info {
  gap: 2rem;
  width: 70%;
}

.product-info .product-details-container {
  min-width: 60%;
}

.product-name {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.product-image-container {
  justify-content: center;
  align-items: center;
  width: 12rem;
  height: 12rem;
  flex-shrink: 0;
  max-width: 40%;
}

.product-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  border-radius: 1rem;
}

.liked-products .product-card .price {
  font-weight: 800;
}

.liked-products .product-card .btn.order {
  align-self: flex-end;
}

.liked-products .product-card .remove {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  font-size: 2rem;
}

.liked-products .available {
  color: var(--color-success);
}

.liked-products .unavailable {
  color: var(--color-error);
}

.zero-liked {
  font-size: 2.3rem;
  align-items: center;
  text-align: center;
  gap: 2rem;
}

.zero-liked i {
  font-size: 5rem;
  color: var(--color-secondary);
  animation: blink 4s ease-in-out;
  animation-iteration-count: infinite;
}

@media (max-width: 600px) {
  .liked-products {
    width: 95%;
    font-size: 2.4rem;
  }

  .product-image-container {
    justify-content: center;
    align-items: center;
    width: 15rem;
    height: 15rem;
  }

  .liked-products .product-card .remove {
    font-size: 2.5rem;
  }

  .zero-liked {
    font-size: 2.5rem;
  }
}
