#loading-screen.hide {
  animation: fadeAway linear 500ms;
  animation-fill-mode: forwards;
}

#loading-screen.show #loader {
  animation: fadeIn linear 400ms, spin 1s linear infinite;
  animation-fill-mode: forwards;
}

#loading-screen.hidden {
  display: none;
  visibility: hidden;
  opacity: 0;
  transform: scale(1);
}

#loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-primary);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

#loading-screen #loader {
  content: "";
  border: 1.3rem solid var(--color-secondary);
  border-top: 1.3rem solid var(--color-secondary-light);
  border-radius: 50%;
  width: 10rem;
  height: 10rem;
  opacity: 0;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes fadeAway {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
