.page-wrapper {
  padding-top: 12rem;
}

.title {
  margin-bottom: 5rem;
}

.success-animation {
  width: 14rem;
}

.success-message {
  text-align: center;
  margin-top: 2rem;
}

.success-message .thanks {
  font-size: 2.2rem;
}

.navigation-btns {
  margin-top: 1.5rem;
}

.navigation-btns a {
  margin: 0;
  transition: all 300ms linear;
}
