.page-wrapper {
  padding: 4rem 30rem 8rem 30rem;
}

.hero-info {
  justify-content: start;
  height: calc(100vh - 10rem);
  align-items: flex-start;
  gap: 5rem;
  width: 70%;
}

.hero-info section {
  align-items: flex-start;
}

.hero-info .slider {
  align-items: center;
}

.product-main-info {
  width: 35%;
}

.product-main-info p {
  font-size: 1.8rem;
}

.main {
  align-items: flex-start;
  justify-content: space-between;
  padding: 2rem 5rem;
  gap: 5rem;
  width: 110%;
  transform: translateX(-5%);
}

#slider {
  border: 0.15rem solid var(--color-secondary);
  border-radius: 1.5rem;
  height: 65vh;
}

.heading {
  font-size: 3.7rem;
}

.subheading {
  font-size: 2.8rem;
}

.title {
  font-size: 3.5rem;
  line-break: anywhere;
}

.order-info {
  width: 30%;
  font-size: 1.8rem;
  padding: 3rem 4rem;
  border-radius: 1.5rem;
  border: none;
  background-color: var(--color-secondary-lighter);
  gap: 2rem;
}

.order-info .price {
  font-size: 2.7rem;
  font-weight: 800;
}

.order-info .price.old-price {
  font-size: 1.7rem;
  font-weight: 500;
  text-decoration: line-through;
}

.order-info .price.discounted-price {
  color: var(--color-secondary);
  transform: translateY(-0.7rem);
}

.order-info .price-text {
  font-size: 2rem;
  font-weight: 500;
  color: var(--color-success);
}

.order-info .price-text.unavailable {
  color: var(--color-error);
}

.order-info .quantity {
  margin-bottom: 1rem;
}

.discount-clock {
  font-size: 1.9rem;
  padding: 1.5rem 7rem;
  border-radius: 4rem;
  border: none;
  background-color: var(--color-secondary-lighter);
  gap: 5rem;
  width: fit-content;
  margin: 0 auto 2rem auto;
}

.discount-clock .subheading {
  font-size: 2.5rem;
}

.discount-clock .countdown-timer {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(4, 1fr);
}

.discount-clock .countdown-timer .time-box {
  text-align: center;
  gap: 0;
  padding: 0 0.8rem;
}

.discount-clock .countdown-timer .time-box .time-value {
  font-weight: 900;
  font-size: 2.3rem;
}

.discount-clock .countdown-timer .time-box .time-label {
  font-size: 1.6rem;
  font-weight: 600;
}

.details-info {
  white-space-collapse: preserve;
  line-break: anywhere;
}

.details-info,
.additional-info,
.comments-info {
  align-items: center;
  gap: 3rem;
  font-size: 2rem;
  padding: 1.5rem 6rem;
}

.details-info .info-article {
  width: 100%;
  gap: 1rem;
}

.additional-info table tr:nth-child(odd) {
  background-color: var(--color-secondary-light);
}

table {
  border-collapse: separate;
  border-spacing: 0;
  width: 80%;
}

table tr td {
  border-right: 0.1rem solid var(--color-secondary);
  border-bottom: 0.1rem solid var(--color-secondary);
  padding: 1.5rem 3rem;
}

table tr th:first-child,
table tr td:first-child {
  border-left: 0.1rem solid var(--color-secondary);
}

table tr td {
  text-align: left;
  border-top: 0.1rem solid var(--color-secondary);
  line-break: anywhere;
  max-width: 70%;
  min-width: 30%;
}

table tr:first-child td:first-child {
  border-top-left-radius: 1rem;
}

table tr:first-child td:last-child {
  border-top-right-radius: 1rem;
}

table tr:last-child td:first-child {
  border-bottom-left-radius: 1rem;
}

table tr:last-child td:last-child {
  border-bottom-right-radius: 1rem;
}

.product-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  border-radius: 1.5rem;
}

.slide-content {
  height: 100%;
  justify-content: center;
}

/* --- Quill editor --- */
#description-editor {
  border: none;

  blockquote {
    border-left: 0.5rem solid var(--color-secondary);
  }

  select {
    pointer-events: none;
    -webkit-appearance: none;
    appearance: none;
    padding: 0 1rem;
    border-radius: 1rem;
  }
}

/* --- Comments --- */
.comments-info {
  gap: 5rem;
}

.comments-info .star-icon {
  color: var(--color-orange);
}

.comments-info .comments-overview {
  gap: 10rem;
  margin-top: 4rem;
}

.comments-info .comments-overview .stars {
  transform: translateY(-1rem);
}

.comments-info .comments-overview .ratings-count {
  font-size: 1.8rem;
  text-align: center;
  opacity: 0.9;
  margin-top: -0.5rem;
}

.comments-info .comments-overview .average-rating {
  font-size: 5.5rem;
  font-weight: 600;
  text-align: center;
}

.comments-info .comments-overview .rating-stats {
  gap: 0.3rem;
  font-size: 1.8rem;
}

.comments-info .comments-overview .rating-stats .rating-bar .rating-label {
  width: 4rem;
  gap: 0rem;
}

.comments-info .comments-overview .rating-stats .rating-bar .rating-label span {
  width: 1.5rem;
}

.comments-info .comments-overview .rating-stats .rating-bar {
  cursor: pointer;
}

.comments-info .comments-overview .rating-stats .rating-bar.faded {
  opacity: 0.45;
}

.comments-info .comments-overview .rating-stats .bar-container {
  width: 30rem;
  height: 1rem;
  border-radius: 5rem;
  overflow: hidden;
  background-color: var(--color-light-grey);
}

.comments-info .comments-overview .rating-stats .bar-container .bar-fill {
  background-color: var(--color-secondary);
  width: var(--bar-width, 0%);
  height: 100%;
  border-radius: 1rem;
}

.comments-info .comments-overview .rating-stats .rating-bar:nth-child(1) .bar-container .bar-fill {
  background-color: var(--color-success);
}

.comments-info .comments-overview .rating-stats .rating-bar:nth-child(2) .bar-container .bar-fill {
  background-color: var(--color-yellow-green);
}

.comments-info .comments-overview .rating-stats .rating-bar:nth-child(3) .bar-container .bar-fill {
  background-color: var(--color-yellow);
}

.comments-info .comments-overview .rating-stats .rating-bar:nth-child(4) .bar-container .bar-fill {
  background-color: var(--color-orange);
}

.comments-info .comments-overview .rating-stats .rating-bar:nth-child(5) .bar-container .bar-fill {
  background-color: var(--color-error);
}

.comments-info .comments {
  width: 100%;
  align-items: flex-start;
  gap: 4rem;
}

.comments-info .comment-section-divider {
  width: 80%;
}

.comments-info .comments hr {
  opacity: 0.6;
}

.comments-info .comments .comment {
  width: 100%;
  gap: 1rem;
}

.comments-info .comments .comment .stars {
  transform: translateX(-0.6rem);
}

.comments-info .comments .comment .images {
  gap: 2rem;
  object-fit: contain;
  height: 10rem;
  margin: 1rem 0;
}

.comments-info .comments .comment .images .comment-image {
  height: 100%;
  border-radius: 1.5rem;
}

.comments-info .comments .comment .text {
  white-space: pre-line;
}

.comments-info .comments .comment .comment-divider {
  height: 10rem;
  height: -webkit-fill-available;
  margin: 0 1rem 0 5rem;
}

.comments-info .comments .comment .comment-info {
  width: 20rem;
  flex-shrink: 0;
}

.comments-info .comments .comment .comment-main {
  gap: 2rem;
}

.comments-info .comments .comment:last-of-type + hr {
  display: none;
}

.comments-info .comments .comment .comment-info i {
  font-size: 3.2rem;
  color: var(--color-secondary);
}

.comments-info .comments .comment .date,
.comments-info .comments .comment .role-badge {
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  width: fit-content;
  background-color: var(--color-secondary-lighter);
  font-size: 1.5rem;
  opacity: 0.9;
}

.comments-info .comments .comment.reply .date {
  margin-top: 0.2rem;
}

.comments-info .comments .comment .dates {
  margin-top: 1.2rem;
}

.comments-info .comments .comment .dates .edited-date i {
  font-size: 1.5rem;
  color: var(--color-grey);
}

.comments-info .comments .comment .rating-box {
  gap: 3rem;
  margin-bottom: 1rem;
}

.comments-info .comments .comment .verified-badge {
  font-weight: 600;
  font-size: 1.8rem;
  gap: 0.7rem;
}

.comments-info .comments .comment .verified-badge i {
  color: var(--color-success);
}

.comment .comment-main .comment-actions {
  margin-top: 1.5rem;
  gap: 3rem;
}

.comment .comment-main .comment-reactions a {
  cursor: pointer;
}

.comment.reply {
  margin-left: 8rem;
}

.comments .load-replies-btn {
  margin: 1.5rem 0 0 26rem;
}

.comments-info .comments .comment .comment-info {
  gap: 0.5rem;
}

.comments-info .comment.reply .comment-info i {
  font-size: 2.8rem;
}

.comments-info .comments .comment.reply .reply-person {
  margin-bottom: 0.5rem;
  gap: 1rem;
  align-items: flex-start;
}

.comments-info .comments .comment.reply .reply-person i {
  color: var(--color-secondary);
}

.comments-info .comments .comment.reply .reply-person hr {
  width: 80%;
  border-color: var(--color-secondary);
  transform: translateY(-0.5rem);
  opacity: 1;
  margin: 0;
}

.no-comments-section {
  align-items: center;
}

.no-comments-section .message,
#no-comment-results .message {
  font-size: 2.2rem;
  font-weight: 500;
  letter-spacing: 0.15rem;
  gap: 2rem;
}

.no-comments-section .message i,
#no-comment-results .message i {
  font-size: 5rem;
  color: var(--color-secondary);
}

/* --- Responsive design --- */
@media (max-width: 1200px) {
  .title {
    font-size: 3rem;
  }

  .page-wrapper {
    padding: 8rem;
  }
}

@media (max-width: 600px) {
  .page-wrapper {
    padding: 5rem 2rem;
  }

  .details-info,
  .additional-info,
  .comments-info {
    padding: 1.5rem 3rem;
  }

  .main,
  .hero-info {
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0;
    height: auto;
    transform: translateX(0);
  }

  .title {
    font-size: 3.5rem;
  }

  .main {
    gap: 15rem;
    margin-bottom: 10rem;
    padding: 0;
  }

  .product-main-info,
  .order-info,
  .slider {
    width: 90%;
  }

  .order-btns {
    justify-content: flex-end;
  }

  .product-main-info p {
    font-size: 2.2rem;
  }

  .order-info {
    font-size: 2.1rem;
  }

  .price-text {
    font-size: 2.3rem;
  }

  .btn.like {
    font-size: 1.6rem;
  }

  .comments-info .comments-overview {
    flex-direction: column;
    gap: 4rem;
  }

  .comments-info .comments .comment {
    gap: 3rem;
  }

  .comments-info .comments .comment.reply {
    margin-left: 5rem;
  }
}
