@page
@model LoginWithRecoveryCodeModel

@{
	ViewData["Title"] = "Вход с код за възстановяване";
}

@section Styles {
	<link rel="stylesheet" href="~/css/input-form.css" asp-append-version="true" />
}

<div class="page-wrapper flex-column">
	<section class="modal flex-column">
		<h1 class="title">@ViewData["Title"]</h1>
		<p class="info-message">
			<i class="fa-regular fa-circle-info"></i>
			Този вход няма да бъде запомнен, докато не предоставите код от приложение за удостоверяване при вход 
			или деактивирате двуфакторната автентикация и не влезете отново.
		</p>
		<form method="post" class="input-form flex-column">
			<div asp-validation-summary="ModelOnly" role="alert" class="input-error"></div>
			<div class="form-input-box flex-column">
				<label class="form-label" asp-for="Input.RecoveryCode">Код за възстановяване</label>
				<input class="form-input" asp-for="Input.RecoveryCode" autocomplete="off" placeholder="Вашият код за възстановяване" />
				<span class="input-error" asp-validation-for="Input.RecoveryCode"></span>
			</div>

			<button type="submit" class="btn submit-btn flex-row">
				<i class="fa-solid fa-arrow-right-to-bracket"></i> Вход
			</button>
			
			<div class="form-box flex-column actions">
				<p>
					<a id="recovery-code-login" class="link active italic" asp-page="./LoginWith2fa" asp-route-returnUrl="@Model.ReturnUrl">Влезте с приложение за автентикация</a>
				</p>
			</div>
		</form>
	</section>
</div>


@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}