<h1>Табло</h1>

<a class="nav-link text-dark" asp-controller="Product" asp-action="ProductsList">Управление на продукти</a>
<a class="nav-link text-dark" asp-controller="ProductType" asp-action="AddProductType">Добави категория</a>