@using MHAuthorWebsite.Web.ViewModels.ProductType
@model AttributeDefinitionForm

<div class="attribute-definition mb-3">
	<button type="button" class="btn-close remove-attribute" aria-label="Close"></button>

	<label asp-for="Key">Поле:</label>
	<input asp-for="Key" />
	<span asp-validation-for="Key" class="text-danger"></span>

	<label asp-for="Label">Етикет:</label>
	<input asp-for="Label" />
	<span asp-validation-for="Label" class="text-danger"></span>

	<label asp-for="DataType">Тип данни:</label>
	<select asp-for="DataType"
	        asp-items="ViewBag.AttributeDataTypes"
	       ></select>
	<span asp-validation-for="DataType" class="text-danger"></span>

	<label asp-for="HasPredefinedValue">Има ли зададени стойности?</label>
	<input asp-for="HasPredefinedValue" type="checkbox" />

	<label asp-for="IsRequired">Задължително?</label>
	<input asp-for="IsRequired" type="checkbox" />
</div>