@using MHAuthorWebsite.Web.ViewModels.Product
@using static MHAuthorWebsite.GCommon.EntityConstraints.ProductComment
@model AddProductCommentViewModel

@{
	ViewData["Title"] = Model.ParentCommentId is null
		? $"Добави коментар за {Model.TargetName}" : $"Отговори на {Model.TargetName}";
}

@section Styles {
	<link rel="stylesheet" href="~/css/elements/stars.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/input-form.css" asp-append-version="true" />
}

<div class="page-wrapper flex-column">
	<section class="modal-invisible large flex-column">
		<h1 class="title">@ViewData["Title"]</h1>

		<form class="input-form flex-column" asp-controller="Product" asp-action="AddComment" method="post" enctype="multipart/form-data">
			<input type="hidden" asp-for="ProductId" value="@Model.ProductId" />
			<input type="hidden" asp-for="ParentCommentId" value="@Model.ParentCommentId" />
			<input type="hidden" asp-for="TargetName" value="@Model.TargetName" />

			@if (Model.ParentCommentId == null)
			{
				<div class="form-input-box flex-column">
					<label class="form-label" asp-for="Rating">Рейтинг:</label>
					@await Html.PartialAsync("_StarsInput", (RatingMaxValue, nameof(Model.Rating)))
					<span class="input-error" asp-validation-for="Rating"></span>
				</div>
			}

			<div class="form-input-box flex-column">
				<label class="form-label" asp-for="Text">Коментар:</label>
				<textarea class="form-input" asp-for="Text"></textarea>
				<span class="input-error" asp-validation-for="Text"></span>
			</div>

			@if (Model.ParentCommentId == null)
			{
				<div class="form-input-box flex-column">
					<label class="form-label" asp-for="Images">Изображения:</label>
					<input type="file" class="form-input" asp-for="Images" multiple accept="image/*"></input>
					<span class="input-error" asp-validation-for="Images"></span>
				</div>
			}

			<button data-trigger="load-unlimited" type="submit" class="btn link submit-btn flex-row">
				<i class="fa-solid fa-comment-plus"></i> Запази
			</button>
		</form>
	</section>
</div>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
	<script src="~/js/elements/stars-input.js" asp-append-version="true"></script>
}