@{
	ViewData["Title"] = "Начало";
}

@section Styles {
	<link rel="stylesheet" href="~/css/home.css" asp-append-version="true"/>
}

<section class="splash flex-column">
	<div class="splash-text">
		<h2 class="title">Миглена Хаджипенчева</h2>
		<p class="subtitle">Чувство. Мисъл. Глас...</p>
	</div>
</section>

<section class="section about flex-row">
	<div class="about-content flex-row">
		<div class="about-image-wrapper ">
			<img src="~/img/author.webp" alt="Миглена Хаджипенчева" />
		</div>
		<article class="about-text flex-column">
			<h2 class="name">За авторката</h2>
			<p>
				Миглена Хаджипенчева утвърждава присъствието си на литературната сцена чрез детската книжка "Верни приятели" 
				и книгата "Думите цъфтят през всички сезони" в съавторство с Явор Перфанов, които намират широка
				публика в социалните мрежи и литературните форуми.
			</p>
			<p>
				Нейните текстове засягат теми като любов, самота, надежда, женственост и духовно израстване. 
				Отличителният ѝ стил съчетава емоционалност и дълбочина на мисълта, като често напомня на читателите,
				че силата на думите не е в тяхната сложност, а в искреността, с която са изречени.
			</p>
			<p>
				През последните години, Миглена успява да изгради устойчива онлайн аудитория, привлечена от откровеността на нейните текстове
				и неподправения ѝ авторски глас. Част от нейните творби са публикувани в специализирани литературни издания и алманаси,
				а книгите ѝ намират място в личните библиотеки на читатели от цяла България.
			</p>
		</article>
	</div>
</section>

<section class="section quotes flex-column">
	<div class="quote quote-left flex-column">
		<i class="fa-solid fa-quote-left quote-icon"></i>
		<span class="line"></span>
		<q class="quote-text">Понякога думите са просто думи, но понякога са всичко, което имаме.</q>
		<span class="line"></span>
	</div>
	<div class="quote quote-right flex-column">
		<i class="fa-solid fa-quote-left quote-icon"></i>
		<span class="line"></span>
		<q class="quote-text">Думите са мостове между душите, които ни свързват в моменти на радост и тъга.</q>
		<span class="line"></span>
	</div>
	<div class="quote quote-left flex-column">
		<i class="fa-solid fa-quote-left quote-icon"></i>
		<span class="line"></span>
		<q class="quote-text">Всяка дума е семе, което може да поникне в сърцето на читателя.</q>
		<span class="line"></span>
	</div>
</section>
