@{
    ViewData["Title"] = "Начало";
}

@section Styles {
	<link rel="stylesheet" href="~/css/home.css" />
}

<section class="splash flex-column">
	<div class="splash-text">
		<h2 class="title">Миглена Хаджипенчева</h2>
		<p class="subtitle">  Чувство, Мисъл, Глас...  </p>
	</div>
</section>
