@{
    ViewData["Title"] = "Начало";
}

@section Styles {
	<link rel="stylesheet" href="~/css/home.css" />
}

<section class="splash flex-column">
	<div class="splash-text">
		<h2 class="title">Миглена Хаджипенчева</h2>
		<p class="subtitle">Чувство, Мисъл, Глас...</p>
	</div>
</section>
<section class="about flex-row">
	<div class="about-content flex-row">
		<div class="about-image-wrapper ">
			<img src="~/img/author.webp" alt="Миглена Хаджипенчева"/>
		</div>
		<article class="about-text flex-column">
			<h2 class="name">За авторката</h2>
			<p>Аз съм Миглена Хаджипенчева, автор на книги и поезия. Пиша от сърце и душа, вдъхновена от живота и хората около мен.</p>
			<p>Вярвам, че думите имат силата да променят света и се стремя да използвам тази сила, за да вдъхновя и мотивирам другите.</p>
		</article>
	</div>
</section>
