@{
    ViewData["Title"] = "Начало";
}

@section Styles {
	<link rel="stylesheet" href="~/css/home.css" />
}

<div class="splash">
	<h2>Миглена Хаджипенчева</h2>
	<p>Explore our services and discover a world of possibilities!</p>
</div>

<div class="benefits">
	<div class="benefit">
		<img src="#" alt="Benefit Image 1" />

		<h3>Пленяваща история</h3>
		<p>
			Заедно с горските животни, децата ще се потопят в приключенията, които гората крие!
		</p>
	</div>
	<div class="benefit">
		<img src="~/img/character.png" alt="Benefit Image 2" />

		<h3>Развиващи игри</h3>
		<p>
			С включената книга - игри, децата ще се забавляват и учат едновременно!
		</p>
	</div>
	<div class="benefit">
		<img src="~/img/game.png" alt="Benefit Image 3" />

		<h3>Цветни илюстрации</h3>
		<p>
			Илюстрации, пленяващи въображението на децата, които допълват историята визуално!
		</p>
	</div>
</div>
