<!DOCTYPE html>
<html lang="bg">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - Миглена Хаджипенчева</title>
	<link rel="stylesheet" href="~/css/reset.css" asp-append-version="true" />
	<link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v7.0.0/css/all.css" />
	@* <link rel="stylesheet" href="~/css/admin/common.css" asp-append-version="true" /> <!-- TODO: Remove this if not needed--> *@
	<link rel="stylesheet" href="~/css/common.css" asp-append-version="true" /> <!-- TODO: Remove this if not needed-->
	<link rel="stylesheet" href="~/css/loader.css" asp-append-version="true" />
	@* <link rel="stylesheet" href="~/css/admin/layout.css" asp-append-version="true" /> <!-- TODO: Remove this if not needed--> *@
	@await RenderSectionAsync("Styles", required: false)
</head>
<body>
	<div id="loading-screen" class="show">
		<span id="loader"></span>
	</div>

	<main role="main">
		@RenderBody()
	</main>

	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/js/loader.js" asp-append-version="true"></script>

	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
