<!DOCTYPE html>
<html lang="bg">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - Миглена Хаджипенчева</title>
	<link rel="stylesheet" href="~/css/reset.css" asp-append-version="true" />
	<link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.7.2/css/all.css" />
	<link rel="stylesheet" href="~/css/common.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/loading.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/layout.css" asp-append-version="true" />
	@await RenderSectionAsync("Styles", required: false)
</head>
<body>
	<header>
		<nav class="flex-row">
			<h4><a asp-controller="Home" asp-action="Index" class="title-small active">Миглена Хаджипенчева</a></h4>
			<ul class="flex-row">
				<li>
					<a class="active flex-row" asp-controller="Home" asp-action="Index">
						<i class="fa-regular fa-house"></i> Начало
					</a>
				</li>
				<li>
					<a class="active flex-row" asp-controller="Product" asp-action="AllProducts">
						<i class="fa-regular fa-shop"></i> Магазин
					</a>
				</li>
				<li>
					<a class="active flex-row" asp-controller="Product" asp-action="LikedProducts">
						<i class="fa-regular fa-heart-circle-check"></i> Любими
					</a>
				</li>
				<li>
					<a class="active flex-row" asp-controller="cart" asp-action="Index">
						<i class="fa-regular fa-cart-shopping"></i> Количка
					</a>
				</li>
			</ul>
			<partial name="_LoginPartial" />
		</nav>
	</header>
	<div>
		<main role="main">
			@RenderBody()
		</main>
	</div>

	<footer class="flex-row">
		<p>&copy; 2025 - Миглена Хаджипенчева</p>
		<ul class="social-media flex-row">
			<li>
				<a href="https://www.facebook.com/megi.bassoon" target="_blank" rel="noopener noreferrer">
					<i class="fa-brands fa-facebook"></i>
				</a>
			</li>
			<li>
				<a href="https://www.instagram.com/mighadzhipencheva/" target="_blank" rel="noopener noreferrer">
					<i class="fa-brands fa-instagram"></i>
				</a>
			</li>
			<li>
				<a href="https://www.youtube.com/@@%D0%9C%D0%B8%D0%B3%D0%BB%D0%B5%D0%BD%D0%B0%D0%A5%D0%B0%D0%B4%D0%B6%D0%B8%D0%BF%D0%B5%D0%BD%D1%87%D0%B5%D0%B2%D0%B0" target="_blank" rel="noopener noreferrer">
					<i class="fa-brands fa-youtube"></i>
				</a>
			</li>
		</ul>
	</footer>

	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/js/layout.js" asp-append-version="true"></script>

	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
