@model MHAuthorWebsite.Web.ViewModels.Shared.WarningViewModel

<article class="warning flex-column">
	<div class="flex-row">
		<i class="fa-solid fa-circle-exclamation"></i>
		<span class="warning-uppercase">@Model.Title</span>
	</div>
	<p>
		<strong>@Model.Message</strong>
	</p>
</article>
