@{
	Layout = "/Views/Shared/_Layout.cshtml";
	ViewData["Title"] = ViewData["Heading"];
}

<div class="page-wrapper flex-column">
	<h1 class="title">Вашият акаунт</h1>

	<div class="flex-column page-content">
		<partial name="~/Areas/Identity/Pages/Account/Manage/_ManageNav.cshtml" />

		@await RenderSectionAsync("Heading", required: false)
		@if (!IsSectionDefined("Heading"))
		{
			<h3 class="title-small">@ViewData["Heading"]</h3>
		}
		@RenderBody()
	</div>
</div>

@await RenderSectionAsync("Styles", required: false)
@await RenderSectionAsync("Scripts", required: false)