@page
@model ChangePasswordModel

@{
	ViewData["Heading"] = "Промени парола";
	ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

@section Styles {
	<link rel="stylesheet" href="~/css/input-form.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/profile/profile-page.css" asp-append-version="true" />
}

<section class="content-body flex-column">
	<form id="change-password-form" class="input-form flex-column" method="post">
		<div asp-validation-summary="ModelOnly" role="alert"></div>
		<div class="form-input-box flex-column">
			<label class="form-label" asp-for="Input.OldPassword" class="form-label">Стара парола</label>
			<input class="form-input" asp-for="Input.OldPassword" class="form-control" autocomplete="current-password" aria-required="true" placeholder="Стара парола." />
			<span class="input-error" asp-validation-for="Input.OldPassword" class="text-danger"></span>
		</div>
		<div class="form-input-box flex-column">
			<label class="form-label" asp-for="Input.NewPassword" class="form-label">Нова парола</label>
			<input class="form-input" asp-for="Input.NewPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Нова парола." />
			<span class="input-error" asp-validation-for="Input.NewPassword" class="text-danger"></span>
		</div>
		<div class="form-input-box flex-column">
			<label class="form-label" asp-for="Input.ConfirmPassword" class="form-label">Потвърдете новата парола</label>
			<input class="form-input" asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Потвърдете новата парола." />
			<span class="input-error" asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
		</div>

		<button id="update-profile-button" type="submit" class="btn submit-btn flex-row">
			<i class="fa-solid fa-pen-to-square"></i>
			Обнови парола
		</button>
	</form>
	<i class="fa-solid fa-key background-icon"></i>
</section>