@page
@model Disable2faModel
@{
	ViewData["Heading"] = "Деактивиране на двуфакторна автентикация";
	ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

@section Styles {
	<link rel="stylesheet" href="~/css/profile/profile-page.css" asp-append-version="true" />
}

<section class="content-body flex-column">
	<partial name="_StatusMessage" for="StatusMessage" />
	<div>
		<p>
			<strong>Тази операция само деактивира двуфакторната автентикация.</strong>
		</p>
		<p>
			Деактивирането на двуфакторната автентикация не променя ключовете, използвани в приложенията за автентикация. Ако искате да промените ключа,
			използван в приложението за автентикация, трябва да <a class="link active italic" asp-page="./ResetAuthenticator">нулирате вашите ключове за автентикация.</a>
		</p>
	</div>
	<div>
		<form method="post">
			<button class="btn flex-row" type="submit"><i class="fa-regular fa-shield-minus"></i> Деактивирай</button>
		</form>
	</div>
	
	<i class="fa-solid fa-shield-minus background-icon"></i>
</section>

