@page
@model EnableAuthenticatorModel
@{
	ViewData["Heading"] = "Настройване на автентикатор";
	ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}


@section Styles {
	<link rel="stylesheet" href="~/css/input-form.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/profile/profile-page.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/profile/2fa.css" asp-append-version="true" />
}

<section class="content-body">
	<partial name="_StatusMessage" for="StatusMessage" />
	<p>За да настроите автентикатора, следвайте стъпките:</p>
	<ol class="flex-column">
		<li>
			<p>
				Изтеглете приложение за двуфакторна автентикация, като Microsoft Authenticator за
				<a class="link active italic" href="https://go.microsoft.com/fwlink/?Linkid=825072">Android</a> и
				<a class="link active italic" href="https://go.microsoft.com/fwlink/?Linkid=825073">iOS</a> или
				Google Authenticator за
				<a class="link active italic" href="https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2&amp;hl=en">Android</a> и
				<a class="link active italic" href="https://itunes.apple.com/us/app/google-authenticator/id388497605?mt=8">iOS</a>.
			</p>
		</li>
		<li>
			<p>Сканирайте QR кода или въведете този ключ <code>@Model.SharedKey</code> в приложението за двуфакторна автентикация. Разстоянията и регистърът нямат значение.</p>
			<div id="qrCode" class="qr-code"></div>
			<div id="qrCodeData" data-url="@Model.AuthenticatorUri"></div>
		</li>
		<li>
			<p>
				След като сканирате QR кода или въведете ключа по-горе, вашето приложение за двуфакторна автентикация ще ви предостави
				уникален код. Въведете кода в полето за потвърждение по-долу.
			</p>
			<form id="send-code" method="post" class="input-form">
				<div class="form-input-box flex-column">
					<label class="form-label" asp-for="Input.Code">Код за потвърждение</label>
					<input class="form-input short" asp-for="Input.Code" autocomplete="off" placeholder="Моля, въведете кода." />
					<span class="input-error" asp-validation-for="Input.Code"></span>
				</div>

				<button type="submit" class="btn flex-row"><i class="fa-regular fa-clipboard-check"></i> Потвърди</button>
				<div asp-validation-summary="ModelOnly" role="alert"></div>
			</form>
		</li>
	</ol>

	@if ((bool) (ViewData["IsTwoFactorEnabled"] ?? false))
	{
		<i class="fa-solid fa-gears background-icon"></i>
	}
	else
	{
		<i class="fa-solid fa-shield-plus background-icon"></i>
	}
</section>

@section Scripts {
	<script src="https://cdn.jsdelivr.net/npm/qrcodejs@1.0.0/qrcode.min.js"></script>
	<script src="~/js/qr.js" asp-append-version="true"></script>
}
