@page
@model GenerateRecoveryCodesModel
@{
	ViewData["Heading"] = "Генерирай кодове за възстановяване на двуфакторната автентикация";
	ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

@section Styles {
	<link rel="stylesheet" href="~/css/profile/profile-page.css" asp-append-version="true" />
}

<section class="content-body flex-column">
	<partial name="_StatusMessage" for="StatusMessage" />
	<div>
		<p>
			<strong>Запишете тези кодове на сигурно място.</strong>
		</p>
		<p>
			Ако загубите устройството си и нямате кодовете за възстановяване, ще загубите достъпа до акаунта си.
		</p>
		<p>
			Генерирането на нови кодове за възстановяване не променя ключовете, използвани в приложенията за автентикация. Ако искате да промените ключа,
			използван в приложението за автентикация, трябва да <a class="link active italic" asp-page="./ResetAuthenticator">нулирате ключовете за автентикация.</a>
		</p>
	</div>
	<form method="post">
		<button class="btn flex-row" type="submit"><i class="fa-regular fa-rotate-right"></i> Генерирай кодове за възстановяване</button>
	</form>
	
	<i class="fa-solid fa-rotate-right background-icon"></i>
</section>

