@page
@model SetPasswordModel
@{
	ViewData["Heading"] = "Добави парола";
	ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

@section Styles
{
	<link rel="stylesheet" href="~/css/input-form.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/profile/profile-page.css" asp-append-version="true" />
}

<section class="content-body flex-column">
	<div class="warning flex-column">
		<div class="flex-row">
			<i class="fa-solid fa-circle-exclamation"></i>
			<span class="warning-uppercase">Внимание:</span>
		</div>
		<strong>
			Вие нямате локално потребителско име/парола за този сайт. Добавете локален
			акаунт, за да можете да влезете и без външен профил!
		</strong>
	</div>

	<form id="set-password-form" method="post" class="input-form flex-column">
		<div asp-validation-summary="ModelOnly" role="alert"></div>
		<div class="form-input-box flex-column">
			<label class="form-label" asp-for="Input.NewPassword">Вашата парола</label>
			<input class="form-input" asp-for="Input.NewPassword" autocomplete="new-password" placeholder="Моля, въведете вашата парола." />
			<span class="input-error" asp-validation-for="Input.NewPassword"></span>
		</div>
		<div class="form-input-box flex-column">
			<label class="form-label" asp-for="Input.ConfirmPassword">Потвърдете паролата</label>
			<input class="form-input" asp-for="Input.ConfirmPassword" autocomplete="new-password" placeholder="Моля, потвърдете вашата парола." />
			<span class="input-error" asp-validation-for="Input.ConfirmPassword"></span>
		</div>
		<button type="submit" class="btn submit-btn flex-row"><i class="fa-solid fa-lock-keyhole"></i> Запази</button>
	</form>
</section>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}
