@page
@model ShowRecoveryCodesModel
@{
	ViewData["Heading"] = "Кодове за възстановяване";
	ViewData["ActivePage"] = "TwoFactorAuthentication";
}

@section Styles {
	<link rel="stylesheet" href="~/css/profile/profile-page.css" asp-append-version="true" />
}

<section class="content-body flex-column">
	<div>
		<p>
			<strong>Запишете тези кодове на сигурно място.</strong>
		</p>
		<p>
			Ако загубите устройството си и нямате кодовете за възстановяване, ще загубите достъпа до акаунта си.
		</p>
	</div>

	<div >
		@for (int row = 0; row < Model.RecoveryCodes.Length; row += 2)
		{
			<p>
				<code>@Model.RecoveryCodes[row]</code>
				<text>&nbsp;</text>
				<code>@Model.RecoveryCodes[row + 1]</code>
				
				<br/>
			</p>
		}
	</div>
	
	<i class="fa-solid fa-circle-exclamation-check background-icon"></i>
</section>

