@page
@using Microsoft.AspNetCore.Http.Features
@model TwoFactorAuthenticationModel

@{
	ViewData["Heading"] = "Двуфакторна автентикация";
	ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

@section Styles {
	<link rel="stylesheet" href="~/css/profile/profile-page.css" asp-append-version="true" />
}

<section class="content-body flex-column">
	<partial name="_StatusMessage" for="StatusMessage" />
	@{
		ITrackingConsentFeature? consentFeature = HttpContext.Features.Get<ITrackingConsentFeature>();
		@if (consentFeature?.CanTrack ?? true)
		{
			<section class="flex-column">
				@if (Model.Is2faEnabled)
				{
					if (Model.RecoveryCodesLeft == 0)
					{
						<div>
							<strong>Остават ви 0 кодa за възстановяване.</strong>
							<p>Трябва да <a class="link active italic" asp-page="./GenerateRecoveryCodes"> генерирате нов набор от кодове за възстановяване</a>, преди да можете да влезете с код за възстановяване.</p>
						</div>
					}
					else if (Model.RecoveryCodesLeft == 1)
					{
						<div>
							<strong>Остават ви 1 код за възстановяване.</strong>
							<p>Трябва да <a class="link active italic" asp-page="./GenerateRecoveryCodes"> генерирате нов набор от кодове за възстановяване</a>, преди да можете да влезете с код за възстановяване.</p>
						</div>
					}
					else if (Model.RecoveryCodesLeft <= 3)
					{
						<div>
							<strong>Остават ви @Model.RecoveryCodesLeft кодa за възстановяване.</strong>
							<p>Трябва да <a class="link active italic" asp-page="./GenerateRecoveryCodes"> генерирате нов набор от кодове за възстановяване</a>, преди да можете да влезете с код за възстановяване.</p>
						</div>
					}

					if (Model.IsMachineRemembered)
					{
						<form method="post">
							<button type="submit" class="btn link flex-row"><i class="fa-regular fa-broom-wide"></i> Забрави този браузър</button>
						</form>
					}

					<div class="flex-row">
						<a asp-page="./Disable2fa" class="btn link flex-row"><i class="fa-regular fa-shield-minus"></i> Деактивирай</a>
						<a asp-page="./GenerateRecoveryCodes" class="btn link flex-row"><i class="fa-regular fa-rotate-right"></i> Нулирай кодовете за възстановяване</a>
					</div>
				}
			</section>

			<section class="flex-column">
				<h4 class="subheading">Автентикатор</h4>
				<div class="flex-row">
					@if (!Model.HasAuthenticator)
					{
						<a id="enable-authenticator" asp-page="./EnableAuthenticator" class="btn link flex-row"> <i class="fa-regular fa-shield-plus"></i> Добави автентикатор</a>
					}
					else
					{
						<a id="enable-authenticator" asp-page="./EnableAuthenticator" class="btn link flex-row"> <i class="fa-regular fa-gears"></i> Настрой автентикатор</a>
						<a id="reset-authenticator" asp-page="./ResetAuthenticator" class="btn link flex-row"> <i class="fa-regular fa-arrow-rotate-left"></i> Нулирай автентикатор</a>
					}
				</div>
				
			</section>
		}
		else
		{
			<div>
				<strong>Политиката за поверителност и бисквитки не е приета.</strong>
				<p>Трябва да приемете политиката, преди да можете да активирате двуфакторната автентикация.</p>
			</div>
		}
	}

	<i class="fa-solid fa-lock-keyhole background-icon"></i>
</section>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}
