@using MHAuthorWebsite.Web.ViewModels.Product
@model AddProductForm

@{
	ViewData["Title"] = "Добави продукт";
}

@section Styles {
	<link rel="stylesheet" href="~/css/input-form.css" asp-append-version="true" />
}

<div class="page-wrapper flex-column">
	<section class="modal-invisible large flex-column">
		<h1 class="title">@ViewData["Title"]</h1>

		<form class="input-form flex-column" asp-area="Admin" asp-controller="AdminProduct" asp-action="AddProduct" id="addProductForm" method="post">
			<div class="form-input-box flex-column">
				<label class="form-label" asp-for="Name">Име:</label>
				<input class="form-input" asp-for="Name" />
				<span class="input-error" asp-validation-for="Name" class="text-danger"></span>
			</div>
			<div class="form-input-box flex-column">
				<label class="form-label" asp-for="Description">Описание:</label>
				<textarea class="form-input" asp-for="Description"></textarea>
				<span class="input-error" asp-validation-for="Description" class="text-danger"></span>
			</div>
			<div class="form-input-box flex-column">
				<label class="form-label" asp-for="Price">Цена:</label>
				<input class="form-input" asp-for="Price" type="number" />
				<span class="input-error" asp-validation-for="Price" class="text-danger"></span>
			</div>
			<div class="form-input-box flex-column">
				<label class="form-label" asp-for="StockQuantity">Количество:</label>
				<input class="form-input" asp-for="StockQuantity" type="number" />
				<span class="input-error" asp-validation-for="StockQuantity" class="text-danger"></span>
			</div>
			<div class="form-input-box flex-column select-list">
				<label class ="form-label"  asp-for="ProductTypeId">Категория:</label>
				<select asp-for="ProductTypeId" asp-items="ViewBag.ProductTypes" id="selectProductType" class="form-select"></select>
				<span class="input-error" asp-validation-for="ProductTypeId" class="text-danger"></span>
			</div>

			<div id="productTypeAttributesContainer" class="form-input-box flex-column"></div>

			<button type="submit" class="btn submit-btn flex-row">Запази</button>
		</form>
	</section>
</div>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
	<script src="~/js/addProductForm.js"></script>
}