@using MHAuthorWebsite.Web.ViewModels.Product
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using static MHAuthorWebsite.GCommon.EntityConstraints.Product
@using static MHAuthorWebsite.GCommon.ApplicationRules.Product
@model AddProductForm?

@{
	ViewData["Title"] = "Добави продукт";
	ViewData["CurrentPage"] = Pages.Admin.AddProduct;
}

@section Styles {
	<link href="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.snow.css" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/atom-one-dark.min.css" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.css" />
	<link rel="stylesheet" href="~/css/elements/editor.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/input-form.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/image-preview.css" asp-append-version="true" />
}

<div class="page-wrapper flex-column">
	<section class="modal-invisible large flex-column">
		<h1 class="title">@ViewData["Title"]</h1>

		<form class="input-form flex-column" asp-area="Admin" asp-controller="AdminProduct" asp-action="AddProduct" id="addProductForm" method="post" enctype="multipart/form-data">
			<div class="form-input-box flex-column">
				<label class="form-label" asp-for="Name">Име:</label>
				<input class="form-input" asp-for="Name" />
				<span class="input-error" asp-validation-for="Name"></span>
			</div>
			<div class="form-input-box flex-column">
				<label class="form-label" asp-for="Description">Описание:</label>
				<partial name="_QuillToolbar" />
				<input type="hidden" asp-for="Description" id="descriptionInput" data-text-max-length="@DescriptionTextMaxLength" />
				<span id="description-input-error" class="input-error" asp-validation-for="Description"></span>
			</div>
			<div class="form-input-box flex-column">
				<label class="form-label" asp-for="Price">Цена:</label>
				<input class="form-input" asp-for="Price" type="number" />
				<span class="input-error" asp-validation-for="Price"></span>
			</div>
			<div class="form-input-box flex-column">
				<label class="form-label" asp-for="StockQuantity">Количество:</label>
				<input class="form-input" asp-for="StockQuantity" type="number" />
				<span class="input-error" asp-validation-for="StockQuantity"></span>
			</div>
			<div class="form-input-box flex-column">
				<label class="form-label" asp-for="Weight">Тегло (в кг.):</label>
				<input class="form-input" asp-for="Weight" type="number" />
				<span class="input-error" asp-validation-for="Weight"></span>
			</div>
			<div class="form-input-box flex-column">
				<label class="form-label" asp-for="Images">Изображения:</label>
				<input class="form-input" id="imageInput" asp-for="Images" type="file" multiple accept="image/*" />
				<span id="image-error" class="input-error" asp-validation-for="Images" data-max-images="@MaxImages"></span>
			</div>
			<div id="previewContainer" class="form-box preview-container flex-row"></div>
			<input id="title-image-id" type="hidden" asp-for="TitleImageId" value="@(Model?.TitleImageId ?? 0)"/>

			<div class="form-input-box flex-column select-list">
				<label class="form-label" asp-for="ProductTypeId">Категория:</label>
				<select asp-for="ProductTypeId" asp-items="ViewBag.ProductTypes" id="selectProductType" class="form-select"></select>
				<span class="input-error" asp-validation-for="ProductTypeId"></span>
			</div>

			<div id="productTypeAttributesContainer" class="form-input-box flex-column"></div>

			<button data-trigger="load-unlimited" type="submit" class="btn submit-btn flex-row">Запази</button>
		</form>
	</section>
</div>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.js"></script>
	<script type="module" src="~/js/editor.js" asp-append-version="true"></script>
	<script type="module" src="~/js/add-product.js" asp-append-version="true"></script>
}