#description-editor {
  font-family: var(--font-primary);
}

/* Set dropdown font-families */
#toolbar .ql-font span[data-label="Sofia Sans Condensed"]::before {
  font-family: var(--font-primary);
}
#toolbar .ql-font span[data-label="Sans Serif"]::before {
  font-family: "Sans Serif";
}
#toolbar .ql-font span[data-label="Serif"]::before {
  font-family: "Serif";
}

/* Set content font-families */
.ql-font-serif {
  font-family: "Serif";
}
.ql-font-sans-serif {
  font-family: "sans-serif";
}

/* --- Responsive --- */
@media (max-width: 600px) {
  .ql-editor .ql-size-small {
    font-size: 2rem;
  }
  .ql-editor {
    font-size: 2.5rem;
  }
  .ql-editor .ql-size-large {
    font-size: 3.2rem;
  }
  .ql-editor .ql-size-huge {
    font-size: 4rem;
  }
}
