.loading-screen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-primary);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  opacity: 0;
}

.loader {
  content: "";
  border-style: solid;
  border-color: var(--color-secondary);
  border-top-color: var(--color-secondary-light);
  border-radius: 50%;
  opacity: 0;
}

.loader.light {
  border-color: var(--color-secondary-light);
  border-top-color: var(--color-secondary);
}

.loader.small {
  width: 2rem;
  height: 2rem;
  border-width: 0.3rem;
}

.loader.medium {
  width: 5rem;
  height: 5rem;
  border-width: 0.8rem;
}

.loader.large {
  width: 12rem;
  height: 12rem;
  border-width: 1.4rem;
}

.loading-screen.show {
  opacity: 1;
}

.loading-screen.show .loader {
  animation:
    fadeIn linear 200ms forwards,
    spin 1s linear infinite;
}

.loading-screen.hide {
  animation: fadeAway linear 200ms forwards;
}
