/* ----- SweetAlert2 ----- */
.swal2-container {
  width: auto !important;
}

.swal2-title {
  font-size: 2rem !important;
}

.swal2-container button.swal2-close {
  font-size: 3rem;
  transform: translateY(-0.2rem);
  margin-right: 1.2rem;
}
