.ts-wrapper:not(.form-control, .form-select).single .ts-control {
  background-image: url(../../svg/bottom-arrow-svgrepo-com.svg);
  background-position: right 0.75rem center;
  background-repeat: no-repeat;
  background-size: 1.6rem 1.5rem;
}

.ts-wrapper .ts-control {
  border-radius: 1.5rem;
  border: 0.15rem solid var(--color-secondary);
  padding: 0.8rem 5rem 0.8rem 1.5rem !important;
  box-shadow: none;
  font-size: 2rem;
}

.plugin-dropdown_input.focus.dropdown-active .ts-control {
  border: 0.15rem solid var(--color-secondary);
}

.ts-dropdown {
  border-radius: 1.5rem;
  border: 0.15rem solid var(--color-secondary);
  margin-top: 0.25rem;
  font-size: 2rem;
  overflow: hidden;

  .dropdown-input-wrap {
    display: none;
  }

  .option {
    padding: 0.8rem 1.5rem;
  }

  .active {
    background-color: var(--color-secondary-light);
    color: var(--color-secondary);
  }
}
