.stars {
  position: relative;
  height: 3rem;
  width: 14.75rem;
  color: var(--color-orange);
}

.stars i {
  width: 2.5rem;
  flex-shrink: 0;
}

.fa-star.regular {
  color: transparent;
  -webkit-text-stroke: 1.5px var(--color-orange);
}

.stars .stars-row {
  position: absolute;
  inset: 0;
  flex-shrink: 0;
  height: 100%;
  gap: 0.5rem;
}

.stars .stars-filled {
  width: 0%;
  font-size: 1em;
  overflow: hidden;
}
