.stars {
  position: relative;
  height: 3rem;
  width: 17rem;
  color: var(--color-orange);
}

.stars i {
  width: 3rem;
  flex-shrink: 0;
}

.stars .stars-row {
  position: absolute;
  inset: 0;
  flex-shrink: 0;
  height: 100%;
  gap: 0.5rem;
}

.stars .stars-filled {
  width: 0%;
  font-size: 1em;
  overflow: hidden;
}
